<div class="container" >
	<upload-image></upload-image>
	<form>
		<ul class="list clearfix">
			<li>
				<span class="name">名称</span>
				<div class="list-right">
					<input type="text" name="name" v-model="food.name" placeholder="食物名">
				</div>
			</li>
			<li>
				<span class="name">类别</span>
				<div class="list-right">
					<select class="rtl" name="category" v-model="food.category">
						<option v-for="option in food.categoryOptions" :value="option">{{option.text}}</option>
					</select>
				</div>
			</li>
			<li>
				<span class="name">含量</span>
				<div class="list-right">
				<input type="tel" name="" value="" placeholder="数量"class="" size="4" v-model="food.num">
				<select class="rtl" v-model="food.unit">
					<option v-for="option in food.UnitOptions" :value="option">{{option.text}}</option>
				</select>
				</div>
			</li>
			<li>
				<span class>生产日期</span>
				<div class="list-right">
					<input type="date" name="" v-model="food.prodDate" >
				</div>
			</li>
			<li>
				<span class>存放日期</span>
				<div class="list-right">
					<input type="date" name="" v-model="food.storedDate">
				</div>
			</li>
			<li>
				<span class>保质期</span>
				<div class="list-right">
					<input type="num" name="" v-model="food.saveTime" placeholder="保质期">
					<select class="rtl" v-model="food.saveUnit">
						<option v-for="option in food.saveUnitOptions" :value="option">{{option.text}}</option>
					</select>
				</div>
			</li> 
			<li class="no-border" v-show="isDetail">
				<div class="list-right">
					<p>
						还有
						<span class="deadline color-red">两</span>
						<span class="deadline-unit">天</span>
						过期
					</p>
				</div>
			</li>
		</ul>

		<div class="detail-btn">
			<button type="submit" class="btn form-btn">确认</button>
		</div>
	</form>
</div>
