<div class="container">
	<div class="select-list">
		<div class="select-selected option" v-on:touchend="isShowSelect()">
			{{select.sortord}}
			<i v-bind:class="[showSelect ? 'down-triangle' : 'left-triangle']"></i>
		</div>
		<ul class="select-option-wrapper" v-show="showSelect" @touchend.stop.prevent="selectSortord($event)">
			<li class="option" v-for='item in sortord' :class="[select.sortord === item ? 'current' : '']">{{item}}</li>
		</ul>

	</div>
	<ul class="list">
		<a v-link="'/detail/'+food.id"  v-for="food in lists">
			<li class="list-li">
			<span class="name">{{food.name}}</span>
				<span class="net-content">{{food.num}}</span>
				<span class="unit">{{food.unit.text}}</span>
				<div class="list-right">
					<p>
						还有
						<span class="deadline color-red">{{food.date}}</span>
						<span class="deadline-unit">天</span>
						过期
					</p>
				</div>
			</li>
		</a>
	</ul>
</div>