<div class="container">
	<div class="select-list">
		<div class="select-selected option" v-on:touchend="isShowSelect()">
			{{select.sortord}}
			<i v-bind:class="[showSelect ? 'down-triangle' : 'left-triangle']"></i>
		</div>
		<ul class="select-option-wrapper" v-show="showSelect" @touchend.stop.prevent="selectSortord($event)">
			<li class="option" v-for='item in sortord' :class="[select.sortord === item ? 'current' : '']">{{item}}</li>
		</ul>

	</div>
	<ul class="list">
		<a v-link="'/detail/'+food.id"  v-for="food in $parent.list | orderBy listOrder sortKey| filterBy type in 'category.value' ">
			<li class="list-li" @touchstart="showBtn($index,$event)">
				<span class="name">{{food.name}}</span>
				<span class="net-content">{{food.num}}</span>
				<span class="unit">{{food.unit.text}}</span>
				<button type="button" class="list-btn btn" :style="{width:btnW[$index]+'px'}" @touchend.prevent="removeFood($index,food.id)">删除</button>
				<div class="list-right">
					<p v-if="food.deadline > 0">
						还有
						<span class="deadline" :class="{'color-red':food.deadline<=7,'color-orange':food.deadline>7&&food.deadline<=30,'color-green':food.deadline>30}">{{food.deadline}}</span>
						<span class="deadline-unit">天</span>
						过期 
					</p>
					<p v-else class="color-red">
						已过期
					</p>
				</div>
				
			</li>
		</a>
	</ul>
</div>