<div class="container">
	<form class="search-form">
		<ul class="label-wrapper" @touchend.stop="selectLabel($event)">
			<li class="search-label" v-for="item in labelItems" data-index="{{$index}}"  :class="{'selected':isSelected[$index]}">{{item}}</li>
		</ul>
		<div class="text-line">
			<input type="text" class="text" name="" placeholder="想吃什么呢……" v-model="searchThing"> 
		</div>
		<div class="detail-btn">
			<button type="button" class="btn form-btn" @touchend="searchFood()">搜 索</button>
		</div>
	</form>
</div>