*{
	margin:0;
	padding: 0;
}
body{
	font-family: "Microsoft YaHei";
	/*background-color: #dedada;*/
}
a{
	font-size: 14px;
	text-decoration: none;
}
.view{
	max-width: 800px;
	margin: 0 auto;
}
.clearfix:after{
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.text-hide{
	font:0;
	color: transparent;
	text-shadow:none;
	background-color: transparent;
	border: 0;
}
.float-left{
	float: left;
}
.view-container{

}
.color-red{
	color: #ff0000;
}
.color-orange{
	color: #ffcc00;
}
.color-grew{
	color:#333;
}
.hide{
	display: none;
}
.no-border{
	border: none;
}
.btn{
	border: none;
	font-family: "Microsoft Yahei";
}