#app{
	overflow: hidden;
}
/*登录注册界面*/
.sign-bg{
	background: url(../images/bg/sign_bg.png) no-repeat center top;
	background-size: 100% auto;
	padding-top: 40px;
	box-sizing:border-box;
}
.title-wrap h1{
	margin-bottom: 10px;
	height: 68px;
	background: url(../images/bg/title.png) no-repeat center top;
}
.title-wrap h2{
	height: 16px;
	background: url(../images/bg/note.png) no-repeat center top;
}
.center-form{
	text-align: center;
}
.sign-bg .center-form{
	margin-top: 30px;
	margin-bottom: 40px;
}
.center-form .text{
	width: 84%;
	height: 38px;
	margin: 0 8%;
	text-align: center;
	font-family: "Microsoft YaHei";
	font-size: 14px;
	background-color: transparent;
	border: none;
	color: #fff;
	border-radius: 15px;
	margin-bottom: 30px;
}
.center-form .inputt{
	background-color: rgba(161,131,108,0.4);
}
.center-form .btn{
	font-size: 16px;
	background-color: rgb(161,131,108);
}
.form-link-wrap{
	text-align: center;
}
.form-link-wrap .form-link{
	color: #fff;
}

/*主界面侧边栏*/
.s-wrapper{
	position: absolute;
	font-size:14px;
	width: 80%;
	color: #fff;
	background: url("../images/bg/sign_bg.png");
	background-size: cover;
	background-color: #2b383f;
	overflow: hidden;
}
.s-header{
	margin: 40px 20px 40px 50px;
}
.s-img{
	width: 60px;
	height: 60px;
	background-color: #ccc;
	border: transparent;
	border-radius: 30px;
	margin-right:20px;
	float: left;
}
.s-user{
	word-wrap:break-word;
	word-break:break-all;
	overflow:hidden;
}
.user-msg{
	line-height:30px;
}
.s-main ul{ 
	margin-bottom: 30px;
	padding: 10px 0;
	color: #fff;
	background-color: rgba(145,121,102,0.4);
}
.s-main ul  li{
	font-size: 14px;
	padding:5px 0px 5px 40px;
	line-height: 24px;
}
.s-main ul li i{
	vertical-align: middle;
	margin-right: 8px;
}
.s-main ul a{
	color: #fff;
}
/*主界面顶部*/
.main{
	position: relative;
	left: 0;
	width: 100%;
	background-color: #fff;
	transition:all .3s ease;
	box-shadow: -5px 0 10px #333;
}
.header{
	position: fixed;
	width: 100%;
	padding: 6px 0;
	line-height: 1.6;
	background-color: #0f222a;
	color: #fff;
	text-align: center;
	z-index: 999;
	transition:all .3s ease;
}
.header h2{
	font-size: 18px;
	display: inline-block;
	text-align: center;
	max-width: 70%;
	font-weight: normal;
}
.header .left{
	position: absolute;
	left: 10px;
}
.header .right{
	position: absolute;
	right: 10px;
}
 .container{
	padding-top: 37px;
} 
/*主界面列表*/
.select-list{
	width: 100%;
	background-color: rgb(255,213,41);
}
.select-selected{
	position: relative;
}
.select-selected i{
	position: absolute;
	top: 12px;
	margin-left: 4px;
}
.select-list .option{
	padding: 5px 10px;
	border-top: 1px dashed #191919;
}
.option.current{
	color:#fff;
	background-color:rgb(255,121,41); 
}
.list{
	background-color: #fff;
	transition:all 2s;
}
.list a{
	color:#000; 
	font-size: 16px;
}
.list li{
	list-style: none;
	margin-left: 15px;
	position: relative;
	padding: 10px 0;
	line-height: 1.6;
	border-bottom: 1px solid #e8e8e8;
}
.list-right{
	float: right;
}
.list-right p {
	display: inline-block;
}
.list-btn{
	position: relative;
	top: -10px;
	width: 0;
	height: 46px;
	margin-left: 6px;
	font-size: 16px;
	font-weight: 100;
	color: #fff;
	background-color: #ff1919;
	border-color:transparent;
	transition: width .3s;
	float: right;
	overflow: hidden;
}

/* .list-num{
	position: relative;
	top: 2px;
} */
/*详情页*/
.wrap-img .set-img{
	position: relative;
	display: block;
	width: 95%;
	height: 150px;
	margin: 10px auto;
	border-radius: 10px;
	background-color: #333;
	background-repeat: no-repeat;
}
.set-img .input-img{
	position: relative;
	z-index: 999;
	display: block;
	width: 100%;
	height: 150px;
	opacity: 0;
}
.set-img p{
	position: absolute;
	top: 0;
	left: 50%;
	color: #fff;
	font-size: 24px;
	line-height: 150px;
	margin-left: -91px;
}
.detail-ul .list-right{
	margin-right: 10px;
}
.list .no-border{
	border: none;
}
.form-btn{
	display: block;
	width:100%;
	text-align: center;
	color: #fff;
	font-size: 16px;
	padding: 4px 0;
	line-height: 1.6;
	background-color: #b20000;
}
.detail-btn{
	margin: 30px 5px 0;
}

.list  li input{
	/*display: block;*/
	border: none;
	font-size: 16px;
	text-align: right;
	outline: none;
	background-color: transparent;
}
.list li select{
	min-width:40px;
	border: none;
	font-size: 16px;
	background-color: transparent;
}
/*主菜单*/
.category h2,.category h3{
	color: #fff;
	text-align: center;
	line-height: 2;
	font-weight: normal;
}
.category h2{
	margin-bottom: 10px;
}
.category.all{
	background-image: url("../images/bg/category_all.png");
}
.category.meat{
	background-image: url("../images/bg/category_meat.png");
}
.category.fruit{
	background-image:url("../images/bg/category_fruit.png"); 
}
.category.staple{
	background-image: url("../images/bg/category_staple.png"); 
}
.category.dessert{
	background-image: url("../images/bg/category_dessert.png"); 	
}
.category.other{
	background-image: url("../images/bg/category_flavour.png"); 
}
.category{
	padding: 50px 0;
	margin-bottom: 2px;
	box-shadow: 0 5px 10px #000;
	background-repeat: no-repeat;
	background-size: cover;
}

/* 搜索页面 */
.label-wrapper{
	margin: 10px 7px; 
	text-align: center;
}
.search-label{
	margin:0 4px 10px;  
	display:inline-block;
	padding: 5px 10px;
	color: #fff;
	background-color: rgb(255,213,41);
	border-radius: 20px;
}
.search-label.selected{
	background-color: rgb(255,121,41);
}
.search-form .detail-btn{
	margin-top: 20px;
}
.search-form .form-btn{
	background-color: rgb(255,121,41);
}
.text-line{
	margin: 0 7px;
}
.text-line .text{
	display: block;
	width:100%;
	font-size: 14px;
	padding: 8px 7px;
	margin: 0 auto;
	border: 1px solid #0f222a;

	/*移除边框阴影样式*/
	box-sizing:border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
    	appearance: none;
}
