.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-menu-add {
    width: 24px;
    height: 24px;
    background-position: -5px -5px;
}

.sprite-menu-book {
    width: 24px;
    height: 24px;
    background-position: -39px -5px;
}

.sprite-menu-chips {
    width: 24px;
    height: 24px;
    background-position: -5px -39px;
}

.sprite-menu-cutlery {
    width: 24px;
    height: 24px;
    background-position: -39px -39px;
}

.sprite-menu-hamburger {
    width: 24px;
    height: 24px;
    background-position: -73px -5px;
}

.sprite-menu-ice {
    width: 24px;
    height: 24px;
    background-position: -73px -39px;
}

.sprite-menu-juice {
    width: 24px;
    height: 24px;
    background-position: -5px -73px;
}

.sprite-menu-nav {
    width: 24px;
    height: 24px;
    background-position: -39px -73px;
}
