<div class="s-wrapper" v-bind:style="{height:$parent.height+'px'}">
	<div class="s-header">
		<img class="s-img" :src="user.photo" alt="头像">
		<div class="s-user">
			<div class="user-msg"><span>{{user.username}}</span></div>
			<div class="user-msg">加入日期: <span>{{user.join_date}}</span></div>
		</div>
	</div>
	<div class="s-main">
		<ul @touchend="showSide()">
			<a v-link="{path:'/'}"><li><i class="sprite sprite-menu-chips"></i>储鲜分类</li></a>
			<a v-link="{path:'/list/all'}"><li><i class="sprite sprite-menu-ice"></i>赏味期限</li></a>
			<a v-link="{path:'/search'}"><li><i class="sprite sprite-menu-book"></i>搜索食谱</li></a>
		</ul>
		<ul @touchend="showSide()">
			<a><li><i class="sprite sprite-menu-hamburger"></i>修改密码</li></a>
			<a @click.stop.prevent="returnSign()"><li><i class="sprite sprite-menu-juice"></i>退出账号</li></a>
		</ul>
	</div>
</div>